.layoutdiv {
	background-color: #191414;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.page-content {
	margin-top: 150px;
}

.prev-btn {
	border: none;
	width: 35px;
	height: 35px;
}

.login-btn, .start-btn, .prev-btn {
	color: #191414;
	background-color: #1ED760;
	transition: transform 0.3s;
}

.login-btn:hover, .start-btn:hover, .prev-btn:hover {
	color: #191414;
	background-color: #1ED760 !important;
	transform: scale(1.1);
}


.logout-btn {
	color: #191414;
	background-color: white;
	transition: transform 0.3s;
}

.logout-btn:hover {
	color: #191414;
	background-color: white !important;
	transform: scale(1.1);
}

.btn-text {
	font-size: 16px;
	padding: 10px 20px 10px 20px;
}

#limit-input, .search-bar {
	color: #b3b3b3;
	background-color: #535353;
	border-radius: 50px;
	padding: 7px 15px 7px 15px;
	margin: 20px;
}

.search-icon, .search-field::placeholder {
	color: white;
}

#limit-input, .search-field, .search-field:focus {
	color: white;
	border: none;
	background-color: #535353;
	box-shadow: none;
}

.card-column {
	background-color: #212121;
	border-radius: 10px;
}

.image {
	width: 75px;
	height: 75px;
	border-radius: 10px;
}

.result-card:hover {
	background-color: #535353;
	border-radius: 10px;
}

.selected {
	border-radius: 10px;
	background-color: #1DB954;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.flex-container .result-card {
	flex: 0 1 40%;
}

.full-alert {
	display: none;
	background-color: #FF5C5C;
	transform: scale(0.8);	
	border: none;
	color: black;
}

#increment-btn, #decrement-btn {
	width: 150px;
}

.t {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
}
