.layoutdiv {
	background-color: #191414;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.log-btn {
	color: #191414;
	background-color: #1ED760;
	transition: transform 0.3s;
}

.log-btn:hover {
	color: #191414;
	background-color: #1ED760 !important;
	transform: scale(1.1);
}


