{% extends "layout.html" %}
{% block content %}
	<div class="position-absolute top-0 end-0 mt-4 me-5">
			<button type="button" class="btn logout-btn rounded-pill" onclick="location.href='/logout';">
				<span class="btn-text">LOG OUT</span>
			</button>
	</div>
	<div class="container text-center page-content">
		<div class="row">
		<!-- first column -->
			<div class="col">
				<div class="card-column">
					<div class="row">
						<div class="col">
							<div class="d-flex search-bar">
								<i class="bi bi-search fs-4 search-icon"></i>
								<input class="form-control search-field" id="input" type="text" placeholder="Select up to 5">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">			
							<div class="d-flex flex-column">
								<div id="results"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- second column -->
			<div class="col">
				<div class="row">
				</div>
				<div class="row">
				</div>
			</div>
		<!-- third column -->
			<div class="col">
				<div class="card-column">
					<div class="row">
						<div class="col selected-col flex-container">
						</div>
						<div class="full-alert alert alert-warning" role="alert"></div>
					</div>
					<div class="row">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		let selectedArtists = [];

		function showAlert(message) {
			let alertBox = $(".full-alert");
			alertBox.text(message);
			alertBox.show();
			setTimeout(function() {
				alertBox.hide();
			}, 3000);
		}

		$("#input").on("keyup", function(){
			let inputValue = $("#input").val();

			if (inputValue === '') {
				$("#results").empty();
			} else {
				$.ajax({
					type: "GET",
					url: "/api/search",
					data: {
						'query': $('#input').val(),
					},
					success: function(res) {
						// clear existing results
						$('#results').empty();

						// append new results
						for (let artist of res) {
							let resultItem = $(`
								<div class="m-2 result-card p-2" data-id="${artist.id}">
									<div class="d-flex align-items-center">
										<img class="image me-2 " src="${artist.image}" alt="${artist.name}">
										<p class="d-flex align-items-center ms-2 pt-3">${artist.name}</p>
									</div>
								</div>
							`);

							$('#results').append(resultItem);

							resultItem.on('click', function() {
								let index = selectedArtists.indexOf(artist.id);
								if (index === -1) {
									if (selectedArtists.length < 5) {
										selectedArtists.push(artist.id);
            							resultItem.addClass('selected');
										let selectedElement = resultItem.clone(true);
										selectedElement.addClass('selected-card');
            							$('.selected-col').append(selectedElement);
									} else {
										showAlert('You can only select up to 5 artists.');
										return;
									}
								} else {
									selectedArtists.splice(index, 1);
									resultItem.removeClass('selected');
									$(`.selected-col .result-card[data-id="${artist.id}"]`).remove();
								}
							});
						}
					}
				});
			}
		});

	$(document).on('click', 'selected-card',  function() {
		let artisId = $(this).data("id");
		selectedArtists = selectedArtists.filter(function(artist) {
			return artist.id !== artistId;
		});
		$(this).remove();
    	$(`#results .result-card[data-id="${artist.id}"]`).removeClass('selected');
	});

	</script>

{% endblock %}
