{% extends "layout.html" %}
{% block content %}
	<div class="position-absolute top-0 end-0 mt-4 me-5">
			<button type="button" class="btn logout-btn rounded-pill" onclick="location.href='/logout';">
				<span class="btn-text">LOG OUT</span>
			</button>
	</div>
	<div class="container text-center page-content">
		<div class="row">
		<!-- first column -->
			<div class="col search-artist">
				<div class="row">
					<div class="col">
						<div class="d-flex search-bar">
							<i class="bi bi-search fs-4 search-icon"></i>
							<input class="form-control search-field" id="input" type="text" placeholder="Select up to 5">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">			
						<div class="d-flex flex-column">
							<div id="results"></div>
						</div>
					</div>
				</div>
			</div>
		<!-- second column -->
			<div class="col">
				<div class="row">
				</div>
				<div class="row">
				</div>
			</div>
		<!-- third column -->
			<div class="col">
				<div class="row">
					<div class="col">
					</div>
				</div>
				<div class="row">
				</div>
			</div>
		</div>
	</div>
	<script>
		$("#input").on("keyup", function(){
			let inputValue = $("#input").val();

			if (inputValue === '') {
				$("#results").empty();
			} else {
				$.ajax({
					type: "GET",
					url: "/api/search",
					data: {
						'query': $('#input').val(),
					},
					success: function(res) {
						// clear existing results
						$('#results').empty();

						// append new results
						for (let artist of res) {
							$('#results').append(`
								<div class="my-1 result-card p-2">
									<div class="d-flex align-items-center">
										<img class="image me-2 " src="${artist.image}" alt="${artist.name}">
										<p class="d-flex align-items-center ms-2 pt-3">${artist.name}</p>
									</div>
								</div>
							`);
						}
					}
				});
			}
		});
	</script>
{% endblock %}
