{% extends "layout.html" %}
{% block content %}
	<div class="position-absolute top-0 end-0 mt-4 me-5">
			<button type="button" class="btn logout-btn rounded-pill" onclick="location.href='/logout';">
				<span class="btn-text">LOG OUT</span>
			</button>
	</div>
	<div class="container text-center page-content">
		<div class="row">
		<!-- first column -->
			<div class="col">
				<div class="song-select" style="display: none;">
					<div class="d-flex my-auto flex-column justify-centent-center">
						<p class="fs-3 d-flex justify-content-center">How many songs?</p>
						<button id="increment-btn" class="my-3 btn btn-lg start-btn rounded-pill mx-auto" style="transform: scale(0.9);">
							<i class="bi bi-chevron-up"></i>
						</button>
						<input type="text" pattern="[0-9]*" id="limit-input" class="form-control" value="10" min="10" max="200" style="width: 100px; margin: auto; text-align: center;">
						<button id="decrement-btn" class="my-3 btn btn-lg start-btn rounded-pill mx-auto" style="transform: scale(0.9);">
							<i class="bi bi-chevron-down"></i>
						</button>
					</div>
				</div>
			</div>
		<!-- second column -->
			<div class="col">
				<div class="card-column">
					<div class="row">
						<div class="col">
							<div class="d-flex search-bar">
								<i class="bi bi-search fs-4 search-icon"></i>
								<input class="form-control search-field" id="input" type="text" placeholder="Select up to 5">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">			
							<div class="d-flex flex-column">
								<div id="results"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- third column -->
			<div class="col">
				<div class="card-column">
					<div class="row">
						<div class="col selected-col flex-container">
						</div>
						<div class="full-alert alert alert-warning" role="alert"></div>
					</div>
					<div class="row">
						<button id="confirm-btn" class="mt-2 btn btn-lg start-btn rounded-pill mx-auto" style="display: none; transform: scale(0.9);">GO</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		
		let selectedArtists = [];

		function showAlert(message) {
			let alertBox = $(".full-alert");
			alertBox.text(message);
			alertBox.show();
			setTimeout(function() {
				alertBox.hide();
			}, 3000);
		}

		$("#input").on("keyup", function(){
			let inputValue = $("#input").val();

			if (inputValue === '') {
				$("#results").empty();
			} else {
				$.ajax({
					type: "GET",
					url: "/api/search",
					data: {
						'query': $('#input').val(),
					},
					success: function(res) {
						// clear existing results
						$('#results').empty();

						// append new results
						for (let artist of res) {
							let resultItem = $(`
								<div class="m-2 result-card p-2" data-id="${artist.id}">
									<div class="d-flex align-items-center">
										<img class="image me-2 " src="${artist.image}" alt="${artist.name}">
										<p class="d-flex align-items-center ms-2 pt-3">${artist.name}</p>
									</div>
								</div>
							`);

							$('#results').append(resultItem);

							resultItem.on('click', function() {
								let index = selectedArtists.indexOf(artist.id);
								if (index === -1) {
									if (selectedArtists.length < 5) {
										selectedArtists.push(artist.id);
            							resultItem.addClass('selected');
										let selectedElement = resultItem.clone(true);
										selectedElement.addClass('selected-card');
            							$('.selected-col').append(selectedElement);

										if (selectedArtists.length === 1) {
											$('.song-select').show();
											$('#confirm-btn').show();
										}
									} else {
										showAlert('You can only select up to 5 artists.');
										return;
									}
								} else {
									selectedArtists.splice(index, 1);
									resultItem.removeClass('selected');
									$(`.selected-col .result-card[data-id="${artist.id}"]`).remove();

									if (selectedArtists.length === 0) {
										$('.song-select').hide();
										$('#confirm-btn').hide();
									}
								}
							});
						}
					}
				});
			}
		});

	$(document).on('click', 'selected-card',  function() {
		let artistId = $(this).data("id");
		selectedArtists = selectedArtists.filter(function(artist) {
			return artist.id !== artistId;
		});
		$(this).remove();
    	$(`#results .result-card[data-id="${artist.id}"]`).removeClass('selected');
	});

	$('#increment-btn').on('click', function() {
		let inputVal = $('#limit-input').val();
		if (inputVal < 200) {
			$('#limit-input').val(++inputVal);
    	}
	});

	$('#decrement-btn').on('click', function() {
    	let inputVal = $('#limit-input').val();
		if (inputVal > 10) {
			$('#limit-input').val(--inputVal);
		}
	});

	$('#limit-input').on('change', function() {
		let inputVal = $(this).val();

		if (inputVal >= 10 && inputVal <= 200) {
			localStorage.setItem('limit', inputVal);
		} else {
			if (inputVal < 10) {
				$(this).val(10);
			} else if (inputVal > 200) {
				$(this).val(200);
			}

			localStorage.setItem('limit', $(this).val());
		}
	});

	$('#confirm-btn').on('click', function() {
		let songLimit = $('#limit-input').val();

		let data = { artists: selectedArtists, limit: songLimit };

		let url = "api/recommendation?" + $.param(data);

		$.ajax({
			type: "GET",
			url: url,
			success: function(res) {
				console.log('Recommendation generated successfully!');
			},
			error: function(err) {
				console.log('error sending request');
			},
		});
	});

	</script>
{% endblock %}
